<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.dustinblackman.plugin.ListMusic"
    version="0.0.1">

  <name>ListMusic</name>
  <author>Dustin Blackman</author>
  <description>A Cordova/Phonegap/SteroidsJS plugin that lists all tracks in Android's MediaStore (default music player).</description>
  <license>Apache 2.0</license>
  <keywords>android, music</keywords>
  <repo>https://github.com/dustinblackman/cordova-ListMusic.git</repo>
  <issue>https://github.com/dustinblackman/cordova-ListMusic/issues</issue>

  <js-module src="www/ListMusic.js" name="ListMusic">
    <clobbers target="window.listMusic" />
  </js-module>

  <engines>
    <engine name="cordova" version=">=2.9.0" />
  </engines>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="ListMusic">
        <param name="android-package" value="com.dustinblackman.plugin.ListMusic" />
      </feature>
    </config-file>

    <source-file src="src/android/com/dustinblackman/plugin/ListMusic.java"
      target-dir="src/com/dustinblackman/plugin" />
  </platform>

</plugin>
